{% extends "structure.html" %}
{% block main %}
<title>About Me</title>

<body>

    <p>
        My name is Jonathan and I'm originally from Ohio but now live in Toronto. 
        I've got an engineering background and have a little programming experience 
        but have mainly worked in manufacturing. I'm looking to make the change to
        software development full-time and am loving learning.  
        
        I'm married and we have a son together.  We love our life and share it 
        with our dog Wilson.
    </p>

</body>
<img src="../static/img/pic.png" alt="Jonathan">
{% endblock main %}